.about{
  section{
    padding: 100px 0 80px;
    &:first-of-type{
      margin-top: 70px;
      @include bp-small{
        margin-top: 100px;
      }
      p{
        font-size: 16px;
        line-height: 19px;
        color: $darkgreen;
        text-align: justify;
        position: relative;
        margin-bottom: 0;
      }
    }
  }
}
