.community{
  section{
    padding: 100px 0 80px;
    &:first-of-type{
      margin-top: 70px;
      position: relative;
      @include bp-small{
        margin-top: 100px;
      }
      &:after{
        content:'';
        width: 50px;
        height: 50px;
        background: $white;
        transform: rotate(45deg);
        border-radius:0 0 8px 0;
        position: absolute;
        bottom: -25px;
        left: 30%;
        z-index: 2;
      }
    }
    &.group{
      background: $white;
      #groups-app{
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-flow: row wrap;
      }
      [class^=col]{
        text-align: center;
        margin-bottom: 45px;
        img{
          max-width: 150px;
          display: block;
          margin: 0 auto;
          margin-bottom: 15px;
        }
        p{
          font-size: 18px;
          line-height: 22px;
          color: $darkgreen;
          margin-bottom: 25px;
        }
      }
    }
    &.events{
      background: #F1FAF9;
      #mount-point{
        @include bp-small{
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          flex-flow: row wrap;
        }
      }
      [class^=col]{
        .tile{
          margin-bottom: 40px;
        }
        &:last-child{
          .tile{
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
