.homepage{
  header{
    height: 500px;
    background: $teal;
    padding-top: 100px;
    position: relative;
    &:after{
      content:'';
      width: 50px;
      height: 50px;
      background: $teal;
      transform: rotate(45deg);
      border-radius:0 0 8px 0;
      position: absolute;
      bottom: -25px;
      left: 30%;
      z-index: 2;
    }
    h1{
      color: $white;
      font-size: 40px;
      line-height: 49px;
      margin-top: 150px;
      text-align: center;
      text-transform: uppercase;
    }
  }
  section{
    padding: 100px 0 80px;
    &.services{
      position: relative;
      &:after{
        content:'';
        width: 50px;
        height: 50px;
        background: $white;
        transform: rotate(45deg);
        border-radius:0 0 8px 0;
        position: absolute;
        bottom: -25px;
        left: 30%;
        z-index: 2;
      }
      .service{
        margin-bottom: 40px;
        @include bp-medium{
          margin-bottom: 0;
        }
        &:last-child{
          margin-bottom: 0;
        }
        .typcn{
          color: $teal;
          text-align: center;
          display: block;
          font-size: 55px;
          line-height: 55px;
          margin-bottom: 20px;
        }
        p{
          font-size: 16px;
          line-height: 19px;
          color: $darkgreen;
          text-align: justify;
          position: relative;
          margin-top: 35px;
          margin-bottom: 0;
          &:before{
            content: "...";
            color: $teal;
            position: absolute;
            top: -35px;
            left: 50%;
            transform: translateX(-50%);
          }
        }
        .btn{
          margin-top: 15px;
        }
      }
    }
    &.products{
      background: #F1FAF9;
      position: relative;
      &:after{
        content:'';
        width: 50px;
        height: 50px;
        background: #F1FAF9;
        transform: rotate(45deg);
        border-radius:0 0 8px 0;
        position: absolute;
        bottom: -25px;
        left: 30%;
        z-index: 2;
      }
      .row{
        .work{
          padding: 0;
          display: block;
          overflow: hidden;
          position: relative;
          @include bp-small{
            height: 450px;
          }
          &:hover{
            img{
              transform: scale(1.2,1.2);
              @include bp-small{
                transform: translate(-50%, -50%) scale(1.2,1.2);
              }
            }
          }
          &:after{
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 201;
          }
          &:nth-child(1){
            &:after{
              background: rgba(0, 188, 202, 0.65);
            }
          }
          &:nth-child(2){
            &:after{
              background: rgba(255, 235, 59, 0.65);
            }
          }
          img{
            position: relative;
            z-index: 200;
            transition: all 0.4s ease;
            @include bp-small{
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%,-50%);
            }
          }
          .text-content{
            position: absolute;;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            z-index: 202;
            text-align: center;
            color: $white;
            h4{
              font-size: 24px;
              line-height: 29px;
              font-family: $ms-bold;
            }
          }
        }
      }
    }
    &.customers{
      background: $white;
      position: relative;
      &:after{
        content:'';
        width: 50px;
        height: 50px;
        background: $white;
        transform: rotate(45deg);
        border-radius:0 0 8px 0;
        position: absolute;
        bottom: -25px;
        left: 30%;
        z-index: 2;
      }
      h2{
        margin-bottom: 50px;
      }
      .testimonial{
        margin-top: 20px;
      }
    }
    &.community{
      background: #F1FAF9;
      position: relative;
      &:after{
        content:'';
        width: 50px;
        height: 50px;
        background: #F1FAF9;
        transform: rotate(45deg);
        border-radius:0 0 8px 0;
        position: absolute;
        bottom: -25px;
        left: 30%;
        z-index: 2;
      }
      h2{
        margin-bottom: 40px;
      }
      h3{
        margin-bottom: 30px;
      }
      [class^=col]{
        .tile{
          margin-bottom: 40px;
          @include bp-medium{
            margin-bottom: 0;
          }
        }
        &:last-child{
          .tile{
            margin-bottom: 0;
          }
        }
      }
    }
    &.newsletter{
      background: #F1FAF9;
      position: relative;
      form{
        text-align: center;
        p{
          font-size: 16px;
          line-height: 19px;
          color: $darkgreen;
          margin: 0;
          display: inline-block;
        }
        .input-body{
          border-bottom: 2px dashed $teal;
          display: inline-block;
          input{
            font-size: 16px;
            line-height: 19px;
            color: $darkgreen;
            border: none;
            display: inline-block;
            outline: 0;
            font-family: $ms-bold;
            background: #F1FAF9;
          }
        }
        button{
          color: $teal-btn;
          background: none;
          padding: 0;
          border: 0;
          font-size: 50px;
          line-height: 41px;
          &:hover{
            color: $teal-btn-h;
          }
        }
      }
    }
  }
}
