.mainnav{
  background-color: rgba(128, 203, 196, 0.95);
  border: none;
  margin-bottom: 0;
  z-index: 999;
  &.top{
    background-color: $teal;
    .navbar-nav{
      li{
        a{
          color: $white;
          &:hover{
            color: $white;
          }
        }
      }
    }
  }
  .navbar-header{
    .navbar-toggle{
      margin-top: 18px;
      margin-bottom: 18px;
      border: transparent;
      &:hover,&:focus{
        background: none;
      }
      .icon-bar{
        background: $white;
      }
    }
    .navbar-brand{
      content: url('../images/logo_w.svg');
      height: 40px;
      box-sizing: content-box;
      margin-left: 0;
      @include bp-small{
        height: 58px;
        margin-top: 6px;
        margin-bottom: 6px;
      }
    }
  }
  .navbar-collapse{
    border-top-color: #F1FAF9;
  }
  .navbar-nav{
    @include bp-small{
      margin-top: 25px;
      margin-right: 0;
    }
    li{
      a{
        color: $white;
        font-size: 16px;
        line-height: 19px;
        padding: 15px 20px;
        position: relative;
        transition: all 0.3s ease-in-out;
        &:after{
          content: "";
          display: block;
          height: 3px;
          background: #FFF;
          position: absolute;
          width: 0%;
          left: 20px;
          right: 20px;
          top: 38px;
          transition: all 0.2s ease;
          text-align: center;
          margin: auto;
        }
        &:hover{
          color: $white;
          &:after{
            width: calc(100% - 40px);
          }
        }
        &.active{
          &:after{
            width: calc(100% - 40px);
          }
        }
      }
    }
  }
}
