/***********************\
  Variables
\***********************/

$ms-reg: "montserratregular", Helvetica, Arial ,sans-serif;
$ms-bold: "montserratbold", Helvetica, Arial ,sans-serif;

$white: #FFF;
$black: #333;
$teal: #80CBC4;
$teal-btn: #26A69A;
$teal-btn-h: #4DB6AC;
$darkgreen: #414B4A;
$dgray: #595959;
$text: #4D4D4D;
$gray: #8C8C8C;
$lgray: #A0A4A4;


$border-rad-gen: 4px;
